# Ignore all compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore logs and temp files
*.log
*.tmp

# Ignore runtime data
data_bank/bank_file.json
data_bank/purchase_log_file.json
data_bank/transaction_log.txt